<article class="card <%= mf %>">
    <a class="card-link" href="">
        <div class="card-inner">
            <div class="card-new">
                <div class="new">
                    <span>NEW</span>
                </div>
            </div>
            <div class="card-category">
                <%- include("_category", {
                mf: "primary category-card category-a",
                text: cat.text
                }) %>
            </div>
            <h1 class="card-heading"><%= heading %></h1>
            <%- include("_author", {
            mf: "author-card",
            img: author.img,
            authorName: author.authorName,
            info: "品川クリニック美容..."
            }) %>
        </div>
        <div class="card-img" style="background-image: url(<%= img %>);"></div>
    </a>
</article>