<article class="media <%= mf %>">
    <a class="media-link u-clear" href="">
        <div class="media-thumbnail">
            <% if(num){ %>
            <div class="media-rank"><%= num %></div>
            <% } %>
            <% if(mf === "media-watched"){ %>
            <div class="media-new">
                <div class="new">
                    <span>NEW</span>
                </div>
            </div>
            <% } %>
            <img src="<%= img %>" height="<%= height %>" width="<%= width %>" alt="<%= alt %>">

            <% if(mf === "media-ranking"){ %>
                <div class="media-tag">体験レポート</div>
            <% } %>
        </div>
        <div class="media-body">
            <%- include("_category", {
                mf: cat.mf,
                text: cat.text
            }) %>
            <time class="media-date" datetime="2017-04-05">2017.4.5</time>
            <h1 class="media-heading"><%= heading %></h1>
            <%- include("_author", {
                mf: author.mf,
                img: author.img,
                authorName: author.authorName,
                info: author.info
            }) %>
        </div>
    </a>
</article>