<% include view/const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample tex";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include view/metadata/_head %>
<% include view/layout/_l-header %>

<!--start l-contents-->
<div class="l-index">

    <%- include("./view/module/_ranking") %>

    <div class="dictionary">
        <div class="dictionary-heading">
            <div class="book-heading">
                <div class="book-heading-inner">
                    <div class="book-heading-icon">
                        <%- include("./view/svg/_book") %>
                    </div>
                    <h1 class="book-heading-text">美容医療用語辞典</h1>
                </div>
            </div>
        </div>
        <div class="dictionary-search">
            <form class="search" action="#">
                <div class="search-icon">
                    <%- include("./view/svg/_search") %>
                </div>
                <input class="search-input" type="search" placeholder="辞典内を検索">
                <button class="search-button" type="submit">検索</button>
            </form>
        </div>
        <div class="dictionary-keywords">
            <dl class="keywords">
                <dt class="keywords-title">
                    Today’s ホットキーワード
                </dt>
                <dd class="keywords-data">
                    <a href="">脂肪吸引</a>、　<a href="">豊胸</a>、　<a href="">プチ整形</a>、 <a href="">カウンセリング</a>、　<a href="">コンデンスリッチ豊胸</a>
                </dd>
            </dl>
        </div>
        <div class="dictionary-words">

                <%- include("./view/module/_heading", {
                icon: include("./view/svg/_favorite"),
                text: "よく調べられている用語"
                }); %>

            <ul class="dictionary-list">
                <% for(var iWord = 0; iWord < 5; iWord++) { %>
                <li>
                    <a class="word" href="">
                        <dl class="word-inner">
                           <dt class="word-title">
                               <div class="word-title-icon">
                                    <%- include("./view/svg/_search") %>
                                </div>
                                <div class="word-title-text">
                                    脂肪吸引
                                </div>
                           </dt>
                            <dd class="word-data">
                                皮下脂肪を特殊な吸引管で取り除く手術を指す。皮下脂肪に悩んでいる人、部分的に脂肪を……
                            </dd>
                        </dl>
                    </a>
                </li>
                <% } %>
            </ul>

            <div class="ranking-link">
                <%- include("./view/module/_link", {
                mf: "",
                text: "もっとみる"
                }); %>
            </div>


        </div>

        <% include view/layout/_l-sidebar %>

    </div>
    <!--end l-contents-->

    <% include view/layout/_l-footer %>
<% include view/metadata/_script %>